---
import showDate from '../utils/showDate'
import DefaultLayout from './DefaultLayout.astro'
import Giscus from '../components/Giscus.astro'

interface Content {
  title: string
  lang: 'en' | 'zh-CN'
  pubDate: string
  updatedDate: string
  tags: string[]
  description: string
  astro: {
    headers: { depth: number; slug: string; text: string }[]
    source: string
    html: string
    url: string
    file: string
  }
}
const { content } = Astro.props as { content: Content }
---

<DefaultLayout title={content.title} lang={content.lang}>
  <article class="prose lg:prose-lg lg:max-w-3xl mx-auto mt-4">
    <h1>{content.title}</h1>
    <div class="flex flex-wrap justify-between text-base">
      <i>
        Updated on {showDate(content.pubDate)}
      </i>
      <i>
        Published on {showDate(content.updatedDate)}
      </i>
    </div>
    <slot />
    <Giscus dataLang={content.lang} />
  </article>
</DefaultLayout>
