---
import type { MarkdownLayoutProps } from 'astro'
import { AstroSeo } from '@astrolib/seo'

import showDate from '../utils/showDate'
import DefaultLayout from './DefaultLayout.astro'
import Giscus from '../components/Giscus.astro'

type Props = MarkdownLayoutProps<{
  title: string
  lang: 'en' | 'zh-Hans'
  pubDate: Date
  updatedDate: Date
  tags: string[] | null
  description: string
}>

const { frontmatter } = Astro.props
---

<AstroSeo title={frontmatter.title} description={frontmatter.description} />

<DefaultLayout title={frontmatter.title} lang={frontmatter.lang}>
  <article class="prose lg:prose-lg lg:max-w-3xl mx-auto mt-4">
    <h1>{frontmatter.title}</h1>
    <div class="flex flex-wrap justify-between text-base">
      <i>
        Updated on {showDate(frontmatter.pubDate)}
      </i>
      <i>
        Published on {showDate(frontmatter.updatedDate)}
      </i>
    </div>
    <slot />
    <Giscus dataLang={frontmatter.lang} />
  </article>
</DefaultLayout>
